

.nav-left:hover #Button-info {
   display:block;
}

.nav-left {
   background-color: rgba(218, 221, 224, 0.747);
   border-radius: 100px;
   margin-right: 10px;
   height: 40px;
   margin-top: 9px;
}

.nav-left:hover {
    background-color: rgba(171, 174, 177, 0.606);
}

