body.dark-mode {
    background-color: #151515; /*  dark background color */
  }

.helper-text {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699); 
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.699); 
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    top: calc(100% + 3px);
}

.dark-mode .helper-text {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.699); 
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    top: calc(100% + 3px);
}

#rightMenu{
    float: right;
    position: sticky;
    top: 0;
}


.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; /* Adjust as needed */
    margin-bottom: 10px;
    max-height: calc(100vh - 100px); /* Adjust 100px according to your top navbar height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.post-list {
    width: 100%;
    
}

.left-section {
    max-height: calc(100vh - 100px); /* Adjust 100px according to your top navbar height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */ 
}

.right-section {
    max-height: calc(100vh - 100px); /* Adjust 100px according to your top navbar height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */ 
}