.left-menu-container {
    overflow-y: auto; /* Enable vertical scrolling */
}


.left-menu-item {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-weight: 500;
}

.left-menu-item .icon-menu{
    color:rgb(41, 138, 223);
    font-size: 23px;
    margin-right: 8px;

}

#saved-icon {
    color: blueviolet;
}

#blood-icon {
    color: rgba(161, 0, 0, 0.938);
}

#events-icon {
    color: rgb(218, 54, 100);
}

#fundraisers-icon {
    color: rgb(202, 93, 53);
}

#messenger-icon {
    color: rgb(155, 46, 189);
}

#wallet-icon {
    color: black;
}

#flag-icon {
    color: orange;
}