/* Initially hide the password help text */
#passwordHelpInline {
    display: none;
}
    
  /* Show the password help text when hovering over the parent div */
  .question-icon:hover #passwordHelpInline {
    display:block;
 }
  
  .signUp-helper-text {
    display: none;
    position: absolute;
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-size: 13px;
}

.text-danger{
    font-size: 12px;
    margin: 0;
}
  
  .text-success {
    font-size: 12px;
    margin: 0;
}