
.App-logo {
    height: 10vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 0s linear;
    }
  }

  .Logo-title {
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: baseline;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(95, 138, 238);
    font-size: 15px;
    font-weight: bold;
  }

  .SignUp-title {
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 1px; /* Adjust the margin value as needed */
    color: rgb(95, 138, 238);
    font-size: 40px;
    font-weight: bold;
}


.PasswordCheck {
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 1px;
    margin-bottom: 1px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

  
  .InputLabel {
    font-size: 20px;
  }
  
  .SignUp-link {
    color: rgb(95, 138, 238);
    font-size: 20px;
  }

  .InputField {
    width: 250px !important;
    height: 35px !important;
    padding: 10px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    align-self: flex-start !important;
    font-size: 15px !important;
    border-radius: 15px !important;
    /* cursor: pointer !important; */
}
  
  .Details {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    color: rgb(95, 138, 238);
  }

 .SignUpButton {
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: baseline;
    background-color: #3fdf0a;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
  }

  .form-check {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 15px !important;
    color: white !important;
}

.gender-btn {
    font-size: 20px; /* Adjust the font size as needed */
    padding: 5px 20px 5px 5px; /* Adjust the padding as needed */
    color: rgb(95, 138, 238);
    transition: none; 
}

.gender-btn:hover {
    background-color:'transparent' !important;; /* Remove hover effect */
    color: inherit !important; /* Inherit the color */
}

  